{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <title>{% block title %}Promotion Pêche Artisanale (PPA){% endblock %}</title>
    {% include 'layouts/seafood/includes/head.html' %}
    {% block extra_css %}{% endblock %}
    <body class="body1">
        {% include 'layouts/seafood/includes/navbar.html' %}
        {% block content %}
        
        {% endblock %}
        {% include 'layouts/seafood/includes/footer.html' %}
        {% include 'layouts/seafood/includes/scripts.html' %}
        {% block extra_js %}{% endblock %}
    </body>
</html>