{% load static %}
<script src="{% static 'seafood/vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'seafood/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'seafood/vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'seafood/vendors/is/is.min.js' %}"></script>
<script src="{% static 'seafood/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'seafood/vendors/lodash/lodash.min.js' %}"></script>
<script src="{% static 'seafood/vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'seafood/vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'seafood/vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'seafood/assets/js/phoenix.js' %}"></script>

