{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Liste des Caisses {% endblock %}

{% block content %}

<div class="mb-2">
  <div class="row align-items-center justify-content-between g-3 mb-4">
    <div class="col-auto">
      <h2 class="mb-0">LISTE DES CAISSES</h2>
    </div>
    <div class="col-auto">
      <a href="{% url 'portal_admin:cashbox_add' %}" class="btn btn-primary">
        <span class="fas fa-folder me-2"></span>Ajouter une caisse
      </a>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <div data-list='{"valueNames":["Dossier", "Prefixe", "Description", "Statut", "Création", "Solde", "Actions"],"page":10,"pagination":true}'>
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
      <div class="table-responsive scrollbar mx-n1 px-1">
        <table class="table table-sm fs-9 mb-0">
          <thead>
            <tr>
              <th class="white-space-nowrap fs-9 align-middle ps-0">
                <div class="form-check mb-0 fs-8">
                  <input class="form-check-input" id="checkbox-bulk-order-select" type="checkbox" data-bulk-select='{"body":"order-table-body"}' />
                </div>
              </th>
              <th class="sort align-middle" scope="col" data-sort="Dossier">DOSSIER</th>
              <th class="sort align-middle" scope="col" data-sort="Prefixe">PRÉFIXE</th>
              <th class="sort align-middle" scope="col" data-sort="Description">DESCRIPTION</th>
              <th class="sort align-middle" scope="col" data-sort="Statut">STATUT</th>
              <th class="sort align-middle" scope="col" data-sort="Création">CRÉATION</th>
              <th class="sort align-middle text-end" scope="col" data-sort="Solde">SOLDE</th>
              <th class="sort align-middle text-end" scope="col" data-sort="Actions">ACTIONS</th>
            </tr>
          </thead>
          <tbody class="list">

            {% for cashbox in cashboxes %}
              <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="fs-9 align-middle px-0 py-3">
                  <div class="form-check mb-0 fs-8">
                    <input class="form-check-input" type="checkbox" data-bulk-select-row='' />
                  </div>
                </td>
                <td class="Dossier align-middle">
                  <a class="fw-semibold" href="{% url 'portal_admin:cashbox_detail' cashbox.pk %}">#{{ cashbox.folder_code }}</a>
                </td>
                <td class="Prefixe align-middle fw-semibold text-body-highlight">
                  {{ cashbox.prefix }}
                </td>
                <td class="Description align-middle">
                  <h6 class="text-body">{{ cashbox.description|truncatewords:10 }}</h6>
                </td>
                <td class="Statut align-middle fs-9">
                  {% if cashbox.status == 'active' %}
                    <span class="badge badge-phoenix fs-10 badge-phoenix-success"><span class="badge-label">{{ cashbox.get_status_display }}</span><span class="ms-1" data-feather="check" style="height:12.8px;width:12.8px;"></span></span>
                  {% elif cashbox.status == 'inactive' %}
                    <span class="badge badge-phoenix fs-10 badge-phoenix-warning"><span class="badge-label">{{ cashbox.get_status_display }}</span><span class="ms-1" data-feather="x" style="height:12.8px;width:12.8px;"></span></span>
                  {% else %}
                    <span class="badge badge-phoenix fs-10 badge-phoenix-danger"><span class="badge-label">{{ cashbox.get_status_display }}</span><span class="ms-1" data-feather="pause-circle" style="height:12.8px;width:12.8px;"></span></span>
                  {% endif %}
                </td>
                <td class="Création align-middle fw-bold">
                  <span class="badge bg-primary fs-10">{{ cashbox.created_at|date:"d/m/Y H:i" }}</span>
                </td>
                <td class="Solde align-middle fw-bold fs-9 text-end"> {{ cashbox.current_balance|floatformat:2 }} MRU</td>
                <td class="Actions align-middle white-space-nowrap text-end">
                  <a href="{% url 'portal_admin:cashbox_detail' cashbox.pk %}" title="Détails"><span class="text-body fs-5" data-feather="eye"></span></a>
                  <a href="{% url 'portal_admin:cashbox_edit' cashbox.pk %}" title="Modifier"><span class="text-body fs-5" data-feather="edit"></span></span></a>
                  <a href="{% url 'portal_admin:cashbox_delete' cashbox.pk %}" title="Supprimer"><span class="text-body fs-5" data-feather="trash-2"></span></span></a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="6" class="text-center py-4">
                  <p class="text-muted mb-0">Aucune caisse trouvée</p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}