{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'seafood/assets/img/logo/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'seafood/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'seafood/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'seafood/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'seafood/assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'seafood/assets/css/slick-slider.css' %}">
    <link rel="stylesheet" href="{% static 'seafood/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'seafood/assets/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'seafood/assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'seafood/assets/css/mobile-menu.css' %}">
    <link rel="stylesheet" href="{% static 'seafood/assets/css/main.css' %}">
    <script src="{% static 'seafood/assets/js/jquery-3-7-1.min.js' %}"></script>
    {% block extra_css %}{% endblock %}
</head>