{% extends 'layouts/seafood/base.html' %}
{% load static %}
{% block title %}À Propos - Entreprise de Pêche Artisanale{% endblock %}

{% block content %}

  <div class="inner-hero">
    <div class="container">
      <div class="rwo">
        <div class="col-lg-8 m-auto text-cetner">
          <div class="main-heading">
            <h1>À Propos de PPA</h1>
            <div class="page-intro">
              <p>Promotion Pêche Artisanale (PPA) est une entreprise spécialisée dans l'industrie des produits de mer, combinant tradition et modernité.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="{% static 'seafood/assets/img/shapes/inner-hero-shape1.png' %}" alt="" class="shape1">
    <img src="{% static 'seafood/assets/img/shapes/inner-hero-shape2.png' %}" alt="" class="shape2">
    <img src="{% static 'seafood/assets/img/shapes/inner-hero-shape3.png' %}" alt="" class="shape3">
  </div>

  <div class="about-page-sec sp">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-sec-images">
            <div class="image1">
              <img src="{% static 'seafood/assets/img/about/about-sec-image1.png' %}" alt="">
            </div>
            <div class="image2">
              <img src="{% static 'seafood/assets/img/about/about-sec-image2.png' %}" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="heading1">
            <span class="span"><img src="{% static 'seafood/assets/img/icons/span-icon1.png' %}" alt=""> À Propos de Nous</span>
            <h2>PPA : L'Excellence des Produits de la Mer Depuis Plus de 20 Ans</h2>
            <div class="space16"></div>
            <p>
              Depuis plus de deux décennies, PPA (Promotion Pêche Artisanale) s'est imposée comme un acteur majeur dans l'industrie des produits de la mer.
              Notre engagement envers la pêche durable et la qualité exceptionnelle fait de nous un partenaire de confiance pour nos clients.
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="about1-box">
                  <div class="progresbar">
                    <div class="progressbar">
                      <div class="circle" data-percent="95">
                        <div class="count">95%</div>
                      </div>
                    </div>
                  </div>
                  <div class="space16"></div>
                  <div class="heading1">
                    <h5><a href="#">Pêche Durable et Responsable</a></h5>
                    <div class="space16"></div>
                    <p>Nos pratiques de pêche respectent les écosystèmes marins et garantissent la préservation des ressources pour les générations futures</p>
                  </div>
                </div>
              </div>
            
              <div class="col-md-6">
                <div class="about1-box">
                  <div class="progresbar">
                    <div class="progressbar">
                      <div class="circle" data-percent="99">
                        <div class="count">99%</div>
                      </div>
                    </div>
                  </div>
                  <div class="space16"></div>
                  <div class="heading1">
                    <h5><a href="#">Qualité et Traçabilité Garanties</a></h5>
                    <div class="space16"></div>
                    <p>De la mer à votre table, chaque produit est tracé et contrôlé pour assurer une fraîcheur et une qualité optimales</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="space40"></div>
              <div class="row">
                <div class="col-12">
                  <div class="buttons">
                    <a class="theme-btn1" href="{% url 'contact' %}">Contactez-nous  <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                    <div class="contact-btn">
                      <div class="icon"><img src="{% static 'seafood/assets/img/icons/about1-phone.png' %}" alt=""></div>
                      <div class="pera">
                        <p>Service Client</p>
                        <a href="tel:+22245678900">+222 45 67 89 00</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="about-page-service sp">
      <div class="container">

        <div class="row">
          <div class="col-lg-5">
            <div class="heading1">
              <span class="span"><img src="{% static 'seafood/assets/img/icons/span-icon1.png' %}" alt=""> Nos Services</span>
              <h2>Une Gamme Complète <br> de Services Professionnels</h2>
              <div class="space16"></div>
            </div>
          </div>
          <div class="col-lg-2"></div>
            <div class="col-lg-5">
              <div class="heading1">
                <p>De la pêche artisanale au traitement, de la congélation à la commercialisation, PPA vous accompagne à chaque étape avec expertise et professionnalisme pour garantir des produits de la mer d'exception.</p>
                <div class="space30"></div>
                <div class="">
                  <a class="theme-btn1" href="#!">Voir Plus <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="space30"></div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="service2-box">
                <div class="icon">
                  <img src="{% static 'seafood/assets/img/icons/about-service-icon1.svg' %}" alt="">
                </div>
                <div class="heading2">
                  <h4><a href="{% url 'services' %}">Pêche Artisanale Durable</a></h4>
                  <div class="space16"></div>
                  <p>Nous pratiquons une pêche respectueuse de l'environnement marin, en utilisant des techniques traditionnelles et en respectant les quotas pour préserver les ressources.</p>
                  <div class="space20"></div>
                  <a class="button" href="{% url 'services' %}">En savoir plus <span class="arrow"><i class="fa-solid fa-angle-right"></i></span></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="service2-box">
                <div class="icon">
                  <img src="{% static 'seafood/assets/img/icons/about-service-icon2.svg' %}" alt="">
                </div>
                <div class="heading2">
                  <h4><a href="{% url 'services' %}">Traitement & Congélation</a></h4>
                  <div class="space16"></div>
                  <p>Nos installations modernes garantissent un traitement rapide et une congélation optimale pour préserver toute la fraîcheur et les qualités nutritionnelles de nos produits.</p>
                  <div class="space20"></div>
                  <a class="button" href="{% url 'services' %}">En savoir plus <span class="arrow"><i class="fa-solid fa-angle-right"></i></span></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="service2-box">
                <div class="icon">
                  <img src="{% static 'seafood/assets/img/icons/about-service-icon3.svg' %}" alt="">
                </div>
                <div class="heading2">
                  <h4><a href="{% url 'services' %}">Commercialisation & Distribution</a></h4>
                  <div class="space16"></div>
                  <p>Notre réseau de distribution assure la livraison de produits de la mer frais et congelés partout dans le pays, avec un service logistique performant.</p>
                  <div class="space20"></div>
                  <a class="button" href="{% url 'services' %}">En savoir plus <span class="arrow"><i class="fa-solid fa-angle-right"></i></span></a>
                </div>
              </div>
            </div>
            </div>
          </div>
          <img class="shape2" src="{% static 'seafood/assets/img/shapes/about-service-shape1.png' %}" alt="">
          <img class="shape3" src="{% static 'seafood/assets/img/shapes/about-service-shape3.png' %}" alt="">
          <img class="shape4" src="{% static 'seafood/assets/img/shapes/about-service-shape2.png' %}" alt="">
        </div>

        <div class="about-choose sp">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="heading1">
                  <span class="span"><img src="{% static 'seafood/assets/img/icons/span-icon1.png' %}" alt=""> Pourquoi Nous Choisir</span>
                  <h2>L'Excellence et la Qualité <br> au Cœur de Notre Mission</h2>
                  <div class="space16"></div>
                  <p>
                    PPA s'engage à fournir des produits de la mer de qualité supérieure tout en respectant l'environnement et les pratiques durables.
                    Notre expertise et notre professionnalisme font la différence.
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="about-choose-list">
                        <div class="arrow">
                          <span><i class="fa-solid fa-check"></i></span>
                        </div>
                        <div class="pera">
                          <p>Service Client Réactif</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="about-choose-list">
                        <div class="arrow">
                          <span><i class="fa-solid fa-check"></i></span>
                        </div>
                        <div class="pera">
                          <p>Produits Certifiés</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="about-choose-list">
                        <div class="arrow">
                          <span><i class="fa-solid fa-check"></i></span>
                        </div>
                        <div class="pera">
                          <p>Traçabilité Complète</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="about-choose-list">
                        <div class="arrow">
                          <span><i class="fa-solid fa-check"></i></span>
                        </div>
                        <div class="pera">
                          <p>Expertise Professionnelle</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="space40"></div>
                  <a class="theme-btn1" href="#!">Découvrir PPA  <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="images-all">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <div class="image1">
                        <img src="{% static 'seafood/assets/img/about/about-choose1.png' %}" alt="">
                      </div>
                      <div class="shape">
                        <img src="{% static 'seafood/assets/img/shapes/about-choose-shape.png' %}" alt="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="image2">
                        <img src="{% static 'seafood/assets/img/about/about-choose2.png' %}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="about-value sp">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="images">
                  <div class="image1"><img src="{% static 'seafood/assets/img/about/about-value-image.png' %}" alt=""></div>
                  <div class="shape"><img src="{% static 'seafood/assets/img/shapes/about-value-image-shape.png' %}" alt=""></div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="heading1-w">
                  <span class="span"><img src="{% static 'seafood/assets/img/icons/span-icon1.png' %}" alt=""> Nos Valeurs</span>
                  <h2>Notre Engagement : Qualité, Durabilité et Excellence</h2>
                  <div class="space16"></div>
                  <p>
                    Chez PPA, notre mission est de fournir des produits de la mer de la plus haute qualité tout en préservant les ressources marines. Nous nous engageons à respecter les pratiques de pêche durable pour les générations futures.
                  </p>
                  <div class="tabs-area">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Vision</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Mission</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Pourquoi Nous Choisir</button>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <p><span>Vision d'Excellence :</span> Devenir le leader régional dans la fourniture de produits de la mer de qualité supérieure, reconnu pour notre engagement envers la durabilité et l'innovation.</p>
                        <p><span>Développement Durable :</span> Nous investissons continuellement dans des technologies modernes et des pratiques responsables pour garantir la pérennité de nos activités et la protection des océans.</p>
                      </div>
                      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <p><span>Qualité Garantie :</span> Offrir à nos clients des produits de la mer fraîches et traçables, pêchés et transformés selon les plus hauts standards de qualité et de sécurité alimentaire.</p>
                        <p><span>Engagement Client :</span> Établir des partenariats durables avec nos clients en leur fournissant un service personnalisé, des conseils d'experts et une livraison fiable.</p>
                      </div>
                      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <p><span>Expertise Reconnue :</span> Plus de 20 ans d'expérience dans l'industrie de la pêche artisanale, avec une équipe de professionnels qualifiés et passionnés.</p>
                        <p><span>Traçabilité Totale :</span> Du bateau à votre assiette, chaque produit est tracé et documenté, vous garantissant transparence et confiance dans nos processus.</p>
                      </div>
                    </div>
                    <div class="space10"></div>
                    <a class="theme-btn1" href="#!">Nous Contacter <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img src="{% static 'seafood/assets/img/shapes/about-value-shape1.png' %}" alt="" class="shape1">
          <img src="{% static 'seafood/assets/img/shapes/about-value-shape2.png' %}" alt="" class="shape2">
          <img src="{% static 'seafood/assets/img/shapes/about-value-shape3.png' %}" alt="" class="shape3">
        </div>
      </div>
    </div>
  </div>
{% endblock %}