{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Blog - Entreprise de Pêche Artisanale{% endblock %}

{% block content %}

    <div class="inner-hero">
        <div class="container">
            <div class="rwo">
                <div class="col-lg-8 m-auto text-cetner">
                    <div class="main-heading">
                        <h1>Actualités & blogue</h1>
                        <div class="page-intro">
                            <p> Actualités, conseils et nouvelles de l'industrie des produits de mer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'assets/img/shapes/inner-hero-shape1.png' %}" alt="" class="shape1">
        <img src="{% static 'assets/img/shapes/inner-hero-shape2.png' %}" alt="" class="shape2">
        <img src="{% static 'assets/img/shapes/inner-hero-shape3.png' %}" alt="" class="shape3">
    </div>

    <div class="blog-page-all sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="image">
                            <img src="{% static 'assets/img/blog/blog-page-img1.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <div class="tags">
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon1.png' %}" alt=""> 30 May 2024</a>
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon2.png' %}" alt=""> Henry Gayle</a>
                            </div>
                            <div class="blog-border"></div>
                            <h5><a href="#!">Hook, Line, and Adventure: Your Ultimate Guide to Fishing & Hunting </a></h5>
                            <div class="space16"></div>
                            <p>Whether you casting a line in serene waters or tracking game through dense forests, </p>
                            <div class="space16"></div>
                            <a href="#!" class="learn">Read More <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
        </div>
    </div>
{% endblock %}