{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Blog - Entreprise de Pêche Artisanale{% endblock %}

{% block content %}

    <div class="inner-hero">
        <div class="container">
            <div class="rwo">
                <div class="col-lg-8 m-auto text-cetner">
                    <div class="main-heading">
                        <h1>Actualités & Blog</h1>
                        <div class="page-intro">
                            <p>Découvrez nos actualités, conseils et informations sur la pêche durable et les produits de la mer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'assets/img/shapes/inner-hero-shape1.png' %}" alt="" class="shape1">
        <img src="{% static 'assets/img/shapes/inner-hero-shape2.png' %}" alt="" class="shape2">
        <img src="{% static 'assets/img/shapes/inner-hero-shape3.png' %}" alt="" class="shape3">
    </div>

    <div class="blog-page-all sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="image">
                            <img src="{% static 'assets/img/blog/blog-page-img1.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <div class="tags">
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon1.png' %}" alt=""> 15 Janvier 2025</a>
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon2.png' %}" alt=""> PPA Équipe</a>
                            </div>
                            <div class="blog-border"></div>
                            <h5><a href="#!">La Pêche Durable : Notre Engagement pour Préserver les Océans</a></h5>
                            <div class="space16"></div>
                            <p>Découvrez comment PPA contribue à la préservation des ressources marines tout en garantissant des produits de qualité supérieure pour nos clients.</p>
                            <div class="space16"></div>
                            <a href="#!" class="learn">Lire la suite <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="image">
                            <img src="{% static 'assets/img/blog/blog-page-img1.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <div class="tags">
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon1.png' %}" alt=""> 10 Janvier 2025</a>
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon2.png' %}" alt=""> PPA Équipe</a>
                            </div>
                            <div class="blog-border"></div>
                            <h5><a href="#!">Conservation des Produits de la Mer : Nos Conseils d'Experts</a></h5>
                            <div class="space16"></div>
                            <p>Apprenez les meilleures techniques de conservation pour maintenir la fraîcheur et la qualité de vos poissons et fruits de mer.</p>
                            <div class="space16"></div>
                            <a href="#!" class="learn">Lire la suite <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="image">
                            <img src="{% static 'assets/img/blog/blog-page-img1.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <div class="tags">
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon1.png' %}" alt=""> 5 Janvier 2025</a>
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon2.png' %}" alt=""> PPA Équipe</a>
                            </div>
                            <div class="blog-border"></div>
                            <h5><a href="#!">Les Bienfaits Nutritionnels des Produits de la Mer</a></h5>
                            <div class="space16"></div>
                            <p>Découvrez pourquoi les produits de la mer sont essentiels pour une alimentation saine et équilibrée, riches en oméga-3 et protéines.</p>
                            <div class="space16"></div>
                            <a href="#!" class="learn">Lire la suite <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="image">
                            <img src="{% static 'assets/img/blog/blog-page-img1.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <div class="tags">
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon1.png' %}" alt=""> 28 Décembre 2024</a>
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon2.png' %}" alt=""> PPA Équipe</a>
                            </div>
                            <div class="blog-border"></div>
                            <h5><a href="#!">La Chaîne du Froid : Garantir la Qualité de vos Produits</a></h5>
                            <div class="space16"></div>
                            <p>Comprenez l'importance du respect de la chaîne du froid pour assurer la sécurité et la qualité optimale des produits de la mer.</p>
                            <div class="space16"></div>
                            <a href="#!" class="learn">Lire la suite <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="image">
                            <img src="{% static 'assets/img/blog/blog-page-img1.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <div class="tags">
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon1.png' %}" alt=""> 20 Décembre 2024</a>
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon2.png' %}" alt=""> PPA Équipe</a>
                            </div>
                            <div class="blog-border"></div>
                            <h5><a href="#!">Traçabilité et Transparence : De l'Océan à votre Assiette</a></h5>
                            <div class="space16"></div>
                            <p>Découvrez comment PPA assure une traçabilité complète de tous ses produits, de la pêche à la livraison chez nos clients.</p>
                            <div class="space16"></div>
                            <a href="#!" class="learn">Lire la suite <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="image">
                            <img src="{% static 'assets/img/blog/blog-page-img1.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <div class="tags">
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon1.png' %}" alt=""> 15 Décembre 2024</a>
                                <a href="#"><img src="{% static 'assets/img/icons/blog-icon2.png' %}" alt=""> PPA Équipe</a>
                            </div>
                            <div class="blog-border"></div>
                            <h5><a href="#!">Nos Certifications Qualité : Un Gage d'Excellence</a></h5>
                            <div class="space16"></div>
                            <p>Apprenez-en plus sur nos certifications HACCP et ISO 22000 qui garantissent les plus hauts standards de qualité et de sécurité.</p>
                            <div class="space16"></div>
                            <a href="#!" class="learn">Lire la suite <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
        </div>
    </div>
{% endblock %}