{% extends 'layouts/seafood/base.html' %}
{% load static %}

{% block title %}Contact - Entreprise de Pêche Artisanale{% endblock %}

{% block content %}

    <div class="inner-hero">
        <div class="container">
            <div class="rwo">
                <div class="col-lg-8 m-auto text-cetner">
                    <div class="main-heading">
                        <h1>Contactez-nous</h1>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'seafood/assets/img/shapes/inner-hero-shape1.png' %}" alt="" class="shape1">
        <img src="{% static 'seafood/assets/img/shapes/inner-hero-shape2.png' %}" alt="" class="shape2">
        <img src="{% static 'seafood/assets/img/shapes/inner-hero-shape3.png' %}" alt="" class="shape3">
    </div>

    <div class="contact-page-sec sp">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="form-area">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <label>Prénom*</label>
                                        <input type="text" placeholder="Votre prénom">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <label>Nom*</label>
                                        <input type="text" placeholder="Votre nom">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <label>Adresse Email*</label>
                                        <input type="email" placeholder="votre.email@exemple.com">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <label>Numéro de Téléphone*</label>
                                        <input type="tel" placeholder="+222 XX XX XX XX">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-input">
                                        <label>Message*</label>
                                        <textarea rows="5" placeholder="Décrivez votre demande..."></textarea>
                                    </div>
                                    <div class="space30"></div>
                                    <button class="theme-btn1">Envoyer le Message <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="heading1">
                        <span class="span">
                            <img src="{% static 'seafood/assets/img/icons/span-icon1.png' %}" alt=""> 
                            Contactez-nous
                        </span>
                        <h2>Contactez-nous pour découvrir l'excellence des produits de la mer.</h2>
                        <div class="space16"></div>
                        <p>Vous avez des questions sur nos produits, nos services ou souhaitez passer une commande ? Notre équipe d'experts est à votre disposition pour vous accompagner et répondre à toutes vos demandes.</p>
                        <div class="space16"></div>
                        <p>Que vous soyez un professionnel de la restauration, un grossiste ou un particulier, nous sommes là pour vous conseiller sur le choix des meilleurs produits de la mer adaptés à vos besoins.</p>
                        <div class="space30"></div>
                        <h3>Heures d'Ouverture</h3>
                        <div class="hours-area">
                            <ul>
                                <li><img src="{% static 'seafood/assets/img/icons/hours.svg' %}" alt=""> Lundi - Samedi</li>
                                <li><img src="{% static 'seafood/assets/img/icons/hours.svg' %}" alt=""> 08:00 - 17:00</li>
                            </ul>
                        </div>
                        <div class="space30"></div>
                        <a class="theme-btn1" href="#!">Découvrir nos Services <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="contact-page-box">
                        <div class="icon">
                            <img src="{% static 'seafood/assets/img/icons/contact-page-icon1.svg' %}" alt="">
                        </div>
                        <div class="heading">
                            <h5>Notre Adresse</h5>
                            <a href="#">Port de Nouakchott <br> Zone Industrielle, Mauritanie</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="contact-page-box">
                        <div class="icon">
                            <img src="{% static 'seafood/assets/img/icons/contact-page-icon2.svg' %}" alt="">
                        </div>
                        <div class="heading">
                            <h5>Appelez-nous</h5>
                            <a href="tel:+22245678900">+222 45 67 89 00</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="contact-page-box">
                        <div class="icon">
                            <img src="{% static 'seafood/assets/img/icons/contact-page-icon3.svg' %}" alt="">
                        </div>
                        <div class="heading">
                            <h5>Envoyez-nous un Email</h5>
                            <a href="mailto:contact@ppa.mr">contact@ppa.mr</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-map-page">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23253.75905306642!2d-17.05993238374577!3d20.919849744900723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xea1b3c808839bf7%3A0xa45f4451402740e5!2sPort%20Artisanal!5e1!3m2!1sfr!2s!4v1759594097191!5m2!1sfr!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="space100"></div>
{% endblock %}