{% extends 'layouts/seafood/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-area1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="main-heading">
                        <div class="image1 image-anime reveal"><img src="{% static 'seafood/assets/img/hero/hero1-image1.png' %}" alt=""></div>
                        <div class="image2 shape-animaiton4"><img src="{% static 'seafood/assets/img/shapes/hero-image1-shape1.png' %}" alt=""></div>
                        <div class="image3 animate2"><img src="{% static 'seafood/assets/img/shapes/hero-image1-shape2.png' %}" alt=""></div>
                        <div class="space30"></div>
                        <div class="heading1-w">
                            <p data-aos="zoom-in-up" data-aos-duration="700">
                                PPA est votre partenaire de confiance pour les produits de la mer d'exception.
                                De la pêche artisanale à la livraison, nous garantissons qualité, fraîcheur et traçabilité à chaque étape.
                            </p>
                        </div>
                        <div class="space30"></div>
                        <div class="buttons" data-aos="zoom-in-up" data-aos-duration="900">
                            <a class="theme-btn1" href="#!">Découvrir nos Produits <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                            <a class="theme-btn3" href="#!">En Savoir Plus <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="main-heading">
                        <h1 class="text-anime-style-3">L'Excellence des Produits de la Mer, de l'Océan à Votre Table</h1>
                        <div class="space60"></div>
                        <div class="main-image">
                            <div class="reveal image-anime">
                                <img src="{% static 'seafood/assets/img/hero/hero1-image2.png' %}" alt="">
                            </div>
                            <div class="shape animate4">
                                <img src="{% static 'seafood/assets/img/shapes/hero-image2-shape1.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <img class="sec-shape1" src="{% static 'seafood/assets/img/shapes/hero-sec-shape1.png' %}" alt="">
        <img class="sec-shape2" src="{% static 'seafood/assets/img/shapes/hero-sec-shape2.png' %}" alt="">
        <img class="sec-shape3 animate1" src="{% static 'seafood/assets/img/shapes/hero-sec-shape3.png' %}" alt="">
        <img class="sec-shape4 animate3" src="{% static 'seafood/assets/img/shapes/hero-sec-shape4.png' %}" alt="">
    </div>
 
    <div class="work3 sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto text-center">
                    <div class="heading3">
                        <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="{% static 'seafood/assets/img/icons/span3.png' %}" alt=""> Notre Processus</span>
                        <h2 class="text-anime-style-3">Comment Nous Travaillons</h2>
                        <div class="space16"></div>
                        <p data-aos="fade-left" data-aos-duration="700">De la pêche responsable à la livraison, découvrez notre processus rigoureux qui garantit des produits de la mer d'une qualité exceptionnelle.</p>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
            <div class="row bol-line">
                <div class="col-lg-3 col-md-6">
                    <div class="work3-box">
                        <div class="icon">
                            <img src="{% static 'seafood/assets/img/icons/work3-icon1.png' %}" alt="">
                        </div>
                        <span class="bol"></span>
                        <div class="heading3">
                            <h4><a href="#!">Pêche Artisanale</a></h4>
                            <div class="space16"></div>
                            <p>Nos pêcheurs expérimentés pratiquent une pêche responsable et durable, capturant quotidiennement les meilleurs produits de la mer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="work3-box">
                        <div class="icon">
                            <img src="{% static 'seafood/assets/img/icons/work3-icon2.png' %}" alt="">
                        </div>
                        <span class="bol"></span>
                        <div class="heading3">
                            <h4><a href="#!">Traitement & Congélation</a></h4>
                            <div class="space16"></div>
                            <p>Transformation immédiate dans nos installations modernes avec congélation rapide pour préserver la fraîcheur et la qualité</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="work3-box">
                        <div class="icon">
                            <img src="{% static 'seafood/assets/img/icons/work3-icon3.png' %}" alt="">
                        </div>
                        <span class="bol"></span>
                        <div class="heading3">
                            <h4><a href="#!">Contrôle Qualité</a></h4>
                            <div class="space16"></div>
                            <p>Vérifications rigoureuses à chaque étape selon les normes HACCP et ISO 22000 pour garantir la sécurité alimentaire</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="work3-box">
                        <div class="icon">
                            <img src="{% static 'seafood/assets/img/icons/work3-icon4.png' %}" alt="">
                        </div>
                        <span class="bol"></span>
                        <div class="heading3">
                            <h4><a href="#!">Livraison Rapide</a></h4>
                            <div class="space16"></div>
                            <p>Transport réfrigéré respectant la chaîne du froid pour une livraison dans les meilleurs délais partout en Mauritanie</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about1 sp bg1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="heading1">
                        <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="{% static 'seafood/assets/img/icons/span-icon1.png' %}" alt=""> À Propos de PPA</span>
                    <h2 class="text-anime-style-3">Promotion Pêche Artisanale : Votre Partenaire de Confiance</h2>
                    <div class="space16"></div>
                    <p data-aos="fade-left" data-aos-duration="800">Depuis notre création, PPA s'est imposée comme un acteur majeur de la pêche artisanale en Mauritanie. Nous combinons savoir-faire traditionnel et technologies modernes pour offrir des produits de la mer d'exception.</p>

                    <div class="row">
                    <div class="col-md-6">
                        <div class="about1-box" data-aos="zoom-in-up" data-aos-duration="700">
                        <div class="progresbar">
                            <div class="progressbar">
                                <div class="circle" data-percent="95">
                                    <div class="count">95%</div>
                            </div>
                            </div>
                        </div>
                        <div class="space16"></div>
                        <div class="heading1">
                            <h5><a href="#">Excellence et Qualité</a></h5>
                            <div class="space16"></div>
                            <p>Nous sommes dédiés à fournir des produits de la mer de la plus haute qualité, respectant les normes internationales les plus strictes</p>
                        </div>
                        </div>
                </div>

                <div class="col-md-6">
                    <div class="about1-box" data-aos="zoom-in-up" data-aos-duration="900">
                    <div class="progresbar">
                        <div class="progressbar">
                            <div class="circle" data-percent="99">
                                <div class="count">99%</div>
                        </div>
                        </div>
                    </div>
                    <div class="space16"></div>
                    <div class="heading1">
                        <h5><a href="#">Pêche Responsable</a></h5>
                        <div class="space16"></div>
                        <p>Notre engagement envers la durabilité garantit la préservation des ressources marines pour les générations futures</p>
                    </div>
                    </div>
                </div>

                </div>
                <div class="space40"></div>
                <div class="row">
                <div class="col-12">
                    <div class="buttons" data-aos="zoom-in-up" data-aos-duration="900">
                    <a class="theme-btn1" href="#!">Découvrir PPA <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                    <div class="contact-btn">
                        <div class="icon">
                        <img src="{% static 'seafood/assets/img/icons/about1-phone.png' %}" alt="">
                        </div>
                        <div class="pera">
                        <p>Service Client</p>
                        <a href="tel:+22245678900">+222 45 67 89 00</a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <div class="col-lg-6">
            <div class="about-main-image">
                <img src="{% static 'seafood/assets/img/about/about1-main-image.png' %}" alt="">
            </div>
            </div>
        </div>
        </div>

        <img src="{% static 'seafood/assets/img/shapes/about1-shape1.png' %}" alt="" class="shape1 animate1">
        <img src="{% static 'seafood/assets/img/shapes/about1-shape2.png' %}" alt="" class="shape2 animate3">
        <img src="{% static 'seafood/assets/img/shapes/about1-shape3.png' %}" alt="" class="shape3 animate4">
    </div>

    <div class="case1-section-area sp">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="heading1 text-center">
                <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="{% static 'seafood/assets/img/icons/span-icon1.png' %}" alt="">Notre Galerie</span>
                <h2 class="text-anime-style-3">Découvrez Nos Installations et Nos Produits</h2>
                <div class="space16"></div>
                <p data-aos="fade-left" data-aos-duration="800">Explorez en images nos installations modernes, notre flotte de pêche, nos processus de qualité <br> et la diversité exceptionnelle de nos produits de la mer</p>
                </div>
            </div>
            </div>
            <div class="space60"></div>
            <div class="row">
            <div class="col-lg-12" data-aos="zoom-out" data-aos-duration="1200">
                <div class="cs_case_study_1_list">
                    <div class="cs_case_study cs_style_1 cs_hover_active active" data-aos="fade-up" data-aos-duration="800">
                    <a href="#!" class="cs_case_study_thumb cs_bg_filed" data-src="{% static 'seafood/assets/img/all-images/case-img1.png' %}"></a>
                    <div class="content-area1">
                        <a href="#">Nos Bateaux de Pêche</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#">Nos Bateaux de Pêche</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                    <div class="cs_case_study cs_style_1 cs_hover_active" data-aos="fade-up" data-aos-duration="900">
                    <a href="#!" class="cs_case_study_thumb cs_case_study_thumb2 cs_bg_filed" data-src="{% static 'seafood/assets/img/all-images/case-img2.png' %}"></a>
                    <div class="content-area1">
                        <a href="#!">Installations Modernes</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#!">Installations Modernes</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                    <div class="cs_case_study cs_style_1 cs_hover_active" data-aos="fade-up" data-aos-duration="1000">
                    <a href="#!" class="cs_case_study_thumb cs_case_study_thumb3 cs_bg_filed" data-src="{% static 'seafood/assets/img/all-images/case-img3.png' %}"></a>
                    <div class="content-area1">
                        <a href="#!">Produits Frais</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#!">Produits Frais</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                    <div class="cs_case_study cs_style_1 cs_hover_active" data-aos="fade-up" data-aos-duration="1100">
                    <a href="#!" class="cs_case_study_thumb cs_case_study_thumb4 cs_bg_filed" data-src="{% static 'seafood/assets/img/all-images/case-img4.png' %}"></a>
                    <div class="content-area1">
                        <a href="#!">Chaîne du Froid</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#!">Chaîne du Froid</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                    <div class="cs_case_study cs_style_1 cs_hover_active" data-aos="fade-up" data-aos-duration="1200">
                    <a href="#!" class="cs_case_study_thumb cs_case_study_thumb5 cs_bg_filed" data-src="{% static 'seafood/assets/img/all-images/case-img5.png' %}"></a>
                    <div class="content-area1">
                        <a href="#!">Équipe Professionnelle</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#!">Équipe Professionnelle</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                    <div class="cs_case_study cs_style_1 cs_hover_active" data-aos="fade-up" data-aos-duration="1300">
                    <a href="#!" class="cs_case_study_thumb cs_case_study_thumb6 cs_bg_filed" data-src="{% static 'seafood/assets/img/all-images/case-img6.png' %}"></a>
                    <div class="content-area1">
                        <a href="#!">Contrôle Qualité</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#!">Contrôle Qualité</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="pricing sp">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <div class="heading1-w">
                <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="{% static 'seafood/assets/img/icons/span-icon1.png' %}" alt="">Nos Offres</span>
                <h2 class="text-anime-style-3">Solutions Adaptées à Vos Besoins</h2>
                <div class="space16"></div>
                <p data-aos="fade-left" data-aos-duration="800">Que vous soyez restaurateur, grossiste ou exportateur, nous proposons des offres flexibles <br> adaptées à votre activité et à vos volumes de commande.</p>
                </div>
            </div>
            </div>

            <div class="space60"></div>
            <div class="row _relative">
            <div class="col-lg-4">
                <div class="images-area">
                <div class="image image-anime reveal">
                    <img src="{% static 'seafood/assets/img/others/pricing-img.png' %}" alt="">
                </div>
                <img src="{% static 'seafood/assets/img/shapes/pricing-image-shape1.png' %}" alt="" class="shape1">
                <img src="{% static 'seafood/assets/img/shapes/pricing-image-shape2.png' %}" alt="" class="shape2">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="pricing-box-area">
                <div class="single-box">
                    <div class="row">
                    <div class="col-lg-8">
                        <div class="left-side">
                        <div class="icon">
                            <img src="{% static 'seafood/assets/img/icons/pricing-icon.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <h3>Offre Restaurateurs</h3>
                            <div class="space16"></div>
                            <p>Solution idéale pour les restaurants et hôtels nécessitant des livraisons régulières de produits frais de qualité supérieure</p>
                            <div class="space30"></div>
                            <a class="theme-btn1" href="#!">Demander un Devis <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-list">
                        <h2 class="heading">Sur Devis <span>Offre Restaurateurs</span></h2>
                        <ul>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Produits frais quotidiens</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Livraison régulière</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Conseils personnalisés </li>
                            <li><span class="crose"><i class="fa-solid fa-xmark"></i></span> Stockage inclus </li>
                            <li><span class="crose"><i class="fa-solid fa-xmark"></i></span> Service 24/7</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="single-box">
                    <div class="row">
                    <div class="col-lg-8">
                        <div class="left-side">
                        <div class="icon">
                            <img src="{% static 'seafood/assets/img/icons/pricing-icon.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <h3>Offre Grossistes</h3>
                            <div class="space16"></div>
                            <p>Solution complète pour les grossistes avec volumes importants, tarifs préférentiels et service de livraison optimisé pour votre activité de distribution</p>
                            <div class="space30"></div>
                            <a class="theme-btn1" href="#!">Demander un Devis <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-list">
                        <h2 class="heading">Sur Devis <span>Offre Grossistes</span></h2>
                        <ul>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Volumes importants</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Tarifs préférentiels</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Livraison planifiée </li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Support dédié </li>
                            <li><span class="crose"><i class="fa-solid fa-xmark"></i></span> Stockage longue durée</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="single-box">
                    <div class="row">
                    <div class="col-lg-8">
                        <div class="left-side">
                        <div class="icon">
                            <img src="{% static 'seafood/assets/img/icons/pricing-icon.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <h3>Offre Export</h3>
                            <div class="space16"></div>
                            <p>Forfait export international avec accompagnement complet, certification, logistique maritime ou aérienne et respect des normes internationales</p>
                            <div class="space30"></div>
                            <a class="theme-btn1" href="#!">Demander un Devis <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-list">
                        <h2 class="heading">Sur Devis <span>Offre Export</span></h2>
                        <ul>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Certifications export</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Logistique internationale</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Dédouanement </li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Traçabilité complète </li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Support technique</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>

                </div>
            </div>
            </div>
        </div>
        <img src="{% static 'seafood/assets/img/shapes/pricing-sec-shape1.png' %}" alt="" class="sec-shape1">
        <img src="{% static 'seafood/assets/img/shapes/pricing-sec-shape2.png' %}" alt="" class="sec-shape2">
    </div>


    <div class="faq sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto text-center">
                    <div class="heading1">
                        <span class="span" data-aos="zoom-in-left" data-aos-duration="700">
                            <img src="{% static 'seafood/assets/img/icons/span-icon1.png' %}" alt=""> FAQ’s
                        </span>
                        <h2 class="text-anime-style-3">Questions Fréquemment Posées</h2>
                        <div class="space16"></div>
                        <p data-aos="fade-left" data-aos-duration="700">Trouvez les réponses à vos questions les plus courantes.</p>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="space40"></div>
                    <div class="faq-image image-anime reveal"><img src="{% static 'seafood/assets/img/others/faq1-image.png' %}" alt=""></div>
                </div>
                <div class="col-lg-8">
                    <div class="space40"></div>
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item" data-aos="fade-up" data-aos-duration="600">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Quelle est la fraîcheur de vos produits ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Nos produits sont pêchés quotidiennement et transformés dans les 24h suivant la capture. 
                                    La chaîne du froid est respectée à chaque étape.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item" data-aos="fade-up" data-aos-duration="800">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Proposez-vous des certifications qualité ?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Oui, nous disposons des certifications HACCP, 
                                    ISO 22000 et nous respectons toutes les normes européennes de sécurité alimentaire.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item" data-aos="fade-up" data-aos-duration="800">
                            <h2 class="accordion-header" id="headingTree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
                                Quels sont vos délais de livraison ?
                                </button>
                            </h2>
                            <div id="collapseTree" class="accordion-collapse collapse" aria-labelledby="headingTree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Pour les produits frais : 24-48h. Pour les produits congelés : 48-72h. Livraison express disponible sur demande.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="choose4 sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 _relative">
                    <div class="main-image">
                        <img src="{% static 'seafood/assets/img/others/choose4-image.png' %}" alt="">
                    </div>
                    <div class="counter-box">
                        <h4>150<span>+</span></h4>
                        <p>Clients Satisfaits</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="heading4">
                        <span class="span" data-aos="zoom-in-left" data-aos-duration="700">
                            <i class="fa-solid fa-ship"></i> Pourquoi Nous Choisir
                        </span>
                        <h2 class="text-anime-style-3">PPA : Votre Partenaire de Confiance pour les Produits de la Mer</h2>
                        <div class="space16"></div>
                        <p data-aos="fade-left" data-aos-duration="900">
                            PPA s'engage à fournir des produits de la mer de qualité supérieure. Notre expertise, nos installations modernes et notre engagement envers la durabilité font de nous le choix idéal pour vos besoins en produits de la mer.
                        </p>
                        <ul class="list" data-aos="fade-left" data-aos-duration="1100">
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Service Client Réactif</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Traçabilité Complète </li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Produits Certifiés</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Expertise Professionnelle</li>
                        </ul>
                        <div class="space40"></div>
                        <div class="buttons" data-aos="fade-left" data-aos-duration="900">
                            <a class="theme-btn8" href="#!">Découvrir nos Offres <span class="arrow"><i class="fa-solid fa-angle-right"></i></span></a>
                            <div class="contact-btn">
                                <div class="icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="text">
                                    <p>Service Client</p>
                                    <a href="tel:+22245678900">+222 45 67 89 00</a>
                                </div>
                            </div>
                        </div>
                        <img src="{% static 'seafood/assets/img/shapes/choose4-shape3.png' %}" alt="" class="shape3 animate4">
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'seafood/assets/img/shapes/choose4-shape1.png' %}" alt="" class="shape1 animate3">
        <img src="{% static 'seafood/assets/img/shapes/choose4-shape2.png' %}" alt="" class="shape2 animate4">
    </div>

{% endblock %}
    