{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-area1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="main-heading">
                        <div class="image1 image-anime reveal"><img src="{% static 'assets/img/hero/hero1-image1.png' %}" alt=""></div>
                        <div class="image2 shape-animaiton4"><img src="{% static 'assets/img/shapes/hero-image1-shape1.png' %}" alt=""></div>
                        <div class="image3 animate2"><img src="{% static 'assets/img/shapes/hero-image1-shape2.png' %}" alt=""></div>
                        <div class="space30"></div>
                        <div class="heading1-w">
                            <p data-aos="zoom-in-up" data-aos-duration="700">
                                At our club, we bring together a community of passionate out door adventurers, offering unparalleled experiences in the wild. 
                                Whether you're casting a line in tranquil waters or tracking
                            </p>
                        </div>
                        <div class="space30"></div>
                        <div class="buttons" data-aos="zoom-in-up" data-aos-duration="900">
                            <a class="theme-btn1" href="#!">Get Started <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                            <a class="theme-btn3" href="#!">Discover More <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="main-heading">
                        <h1 class="text-anime-style-3">Experience Thrill Of The Hunt & The Joy Of The Catch</h1>
                        <div class="space60"></div>
                        <div class="main-image">
                            <div class="reveal image-anime">
                                <img src="{% static 'assets/img/hero/hero1-image2.png' %}" alt="">
                            </div>
                            <div class="shape animate4">
                                <img src="{% static 'assets/img/shapes/hero-image2-shape1.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <img class="sec-shape1" src="{% static 'assets/img/shapes/hero-sec-shape1.png' %}" alt="">
        <img class="sec-shape2" src="{% static 'assets/img/shapes/hero-sec-shape2.png' %}" alt="">
        <img class="sec-shape3 animate1" src="{% static 'assets/img/shapes/hero-sec-shape3.png' %}" alt="">
        <img class="sec-shape4 animate3" src="{% static 'assets/img/shapes/hero-sec-shape4.png' %}" alt="">
    </div>
 
    <div class="work3 sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto text-center">
                    <div class="heading3">
                        <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="{% static 'assets/img/icons/span3.png' %}" alt=""> How It Work</span>
                        <h2 class="text-anime-style-3">How to Begin Your Adventure</h2>
                        <div class="space16"></div>
                        <p data-aos="fade-left" data-aos-duration="700">Complete our quick & easy membership application online. Provide us with some basic information about yourself outdoor interests.</p>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
            <div class="row bol-line">
                <div class="col-lg-3 col-md-6">
                    <div class="work3-box">
                        <div class="icon">
                            <img src="{% static 'assets/img/icons/work3-icon1.png' %}" alt="">
                        </div>
                        <span class="bol"></span>
                        <div class="heading3">
                            <h4><a href="#!">Eara Points </a></h4>
                            <div class="space16"></div>
                            <p>With our club, every adventure is expertly planned & tailored to provide you with the ultimate </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="work3-box">
                        <div class="icon">
                            <img src="{% static 'assets/img/icons/work3-icon2.png' %}" alt="">
                        </div>
                        <span class="bol"></span>
                        <div class="heading3">
                            <h4><a href="#!">Getting Started </a></h4>
                            <div class="space16"></div>
                            <p>Participate in our year-round events and competitions, and connect with fellow outdoor enthusiasts </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="work3-box">
                        <div class="icon">
                            <img src="{% static 'assets/img/icons/work3-icon3.png' %}" alt="">
                        </div>
                        <span class="bol"></span>
                        <div class="heading3">
                            <h4><a href="#!">How to Join </a></h4>
                            <div class="space16"></div>
                            <p> Book your trips easily through our online portal, & take advantage of our workshops and training sessions</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="work3-box">
                        <div class="icon">
                            <img src="{% static 'assets/img/icons/work3-icon4.png' %}" alt="">
                        </div>
                        <span class="bol"></span>
                        <div class="heading3">
                            <h4><a href="#!">Upload & Share</a></h4>
                            <div class="space16"></div>
                            <p> Once you’re a member, you’ll gain access to our extensive range of services, including expert-led</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about1 sp bg1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="heading1">
                        <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="{% static 'assets/img/icons/span-icon1.png' %}" alt=""> About Us</span>
                    <h2 class="text-anime-style-3">Crafting Memories in Wilderness Our Club's Chronicle</h2>
                    <div class="space16"></div>
                    <p data-aos="fade-left" data-aos-duration="800">For generations, we've been at the forefront of outdoor exploration, fostering a legacy of respect for the land & its inhabitants. Our members, from seasoned</p>

                    <div class="row">
                    <div class="col-md-6">
                        <div class="about1-box" data-aos="zoom-in-up" data-aos-duration="700">
                        <div class="progresbar">
                            <div class="progressbar">
                                <div class="circle" data-percent="95">
                                    <div class="count">95%</div>
                            </div>
                            </div>
                        </div>
                        <div class="space16"></div>
                        <div class="heading1">
                            <h5><a href="#">Champions of the Great Outdoors</a></h5>
                            <div class="space16"></div>
                            <p>Founded a shared love for adventure & conservation, our club is more than just a gathering place</p>
                        </div>
                        </div>
                </div>

                <div class="col-md-6">
                    <div class="about1-box" data-aos="zoom-in-up" data-aos-duration="900">
                    <div class="progresbar">
                        <div class="progressbar">
                            <div class="circle" data-percent="99">
                                <div class="count">99%</div>
                        </div>
                        </div>
                    </div>
                    <div class="space16"></div>
                    <div class="heading1">
                        <h5><a href="#">Masters of Fishing and Hunting</a></h5>
                        <div class="space16"></div>
                        <p>Come together to share stories, sharpen skills, & forge lifelong connections in the wilderness.</p>
                    </div>
                    </div>
                </div>

                </div>
                <div class="space40"></div>
                <div class="row">
                <div class="col-12">
                    <div class="buttons" data-aos="zoom-in-up" data-aos-duration="900">
                    <a class="theme-btn1" href="#!">Get Started  <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                    <div class="contact-btn">
                        <div class="icon">
                        <img src="{% static 'assets/img/icons/about1-phone.png' %}" alt="">
                        </div>
                        <div class="pera">
                        <p>Hotline 24/7</p>
                        <a href="tel:+49309233255">+49 30 9233255</a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <div class="col-lg-6">
            <div class="about-main-image">
                <img src="{% static 'assets/img/about/about1-main-image.png' %}" alt="">
            </div>
            </div>
        </div>
        </div>

        <img src="{% static 'assets/img/shapes/about1-shape1.png' %}" alt="" class="shape1 animate1">
        <img src="{% static 'assets/img/shapes/about1-shape2.png' %}" alt="" class="shape2 animate3">
        <img src="{% static 'assets/img/shapes/about1-shape3.png' %}" alt="" class="shape3 animate4">
    </div>

    <div class="case1-section-area sp">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="heading1 text-center">
                <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="{% static 'assets/img/icons/span-icon1.png' %}" alt="">Our Latest Portfolio </span>
                <h2 class="text-anime-style-3">Capturing Our Greatest Moments</h2>
                <div class="space16"></div>
                <p data-aos="fade-left" data-aos-duration="800">Whether you're a seasoned pro or a newcomer to the wild, our expert guided <br> fishing tours and professional hunting expeditions provide thrilling </p>
                </div>
            </div>
            </div>
            <div class="space60"></div>
            <div class="row">
            <div class="col-lg-12" data-aos="zoom-out" data-aos-duration="1200">
                <div class="cs_case_study_1_list">
                    <div class="cs_case_study cs_style_1 cs_hover_active active" data-aos="fade-up" data-aos-duration="800">
                    <a href="#!" class="cs_case_study_thumb cs_bg_filed" data-src="{% static 'assets/img/all-images/case-img1.png' %}"></a>
                    <div class="content-area1">
                        <a href="#">A Visual Story of Our Club</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#">A Visual Story of Our Club</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                    <div class="cs_case_study cs_style_1 cs_hover_active" data-aos="fade-up" data-aos-duration="900">
                    <a href="#!" class="cs_case_study_thumb cs_case_study_thumb2 cs_bg_filed" data-src="{% static 'assets/img/all-images/case-img2.png' %}"></a>
                    <div class="content-area1">
                        <a href="#!">Club's Exploration Gallery</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#!">Club's Exploration Gallery</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                    <div class="cs_case_study cs_style_1 cs_hover_active" data-aos="fade-up" data-aos-duration="1000">
                    <a href="#!" class="cs_case_study_thumb cs_case_study_thumb3 cs_bg_filed" data-src="{% static 'assets/img/all-images/case-img3.png' %}"></a>
                    <div class="content-area1">
                        <a href="#!">Showcasing  Expeditions</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#!">Showcasing  Expeditions</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                    <div class="cs_case_study cs_style_1 cs_hover_active" data-aos="fade-up" data-aos-duration="1100">
                    <a href="#!" class="cs_case_study_thumb cs_case_study_thumb4 cs_bg_filed" data-src="{% static 'assets/img/all-images/case-img4.png' %}"></a>
                    <div class="content-area1">
                        <a href="#!">Social Media Marketing</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#!">Social Media Marketing</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                    <div class="cs_case_study cs_style_1 cs_hover_active" data-aos="fade-up" data-aos-duration="1200">
                    <a href="#!" class="cs_case_study_thumb cs_case_study_thumb5 cs_bg_filed" data-src="{% static 'assets/img/all-images/case-img5.png' %}"></a>
                    <div class="content-area1">
                        <a href="#!">Content Marketing</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#!">Content Marketing</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                    <div class="cs_case_study cs_style_1 cs_hover_active" data-aos="fade-up" data-aos-duration="1300">
                    <a href="#!" class="cs_case_study_thumb cs_case_study_thumb6 cs_bg_filed" data-src="{% static 'assets/img/all-images/case-img6.png' %}"></a>
                    <div class="content-area1">
                        <a href="#!">Masterpieces in Nature</a>
                        <a href="#" class="cirle-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="content-area">
                        <a href="#!">Masterpieces in Nature</a>
                        <a href="#" class="learn"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="pricing sp">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <div class="heading1-w">
                <span class="span" data-aos="zoom-in-left" data-aos-duration="700"><img src="{% static 'assets/img/icons/span-icon1.png' %}" alt="">Our Pricing Plan </span>
                <h2 class="text-anime-style-3">Sponsorship & Supporter Packages</h2>
                <div class="space16"></div>
                <p data-aos="fade-left" data-aos-duration="800"> Join us & embark on your next outdoor adventure with confidence, knowing <br> that your membership unlocks a world of possibilities in the wild.</p>
                </div>
            </div>
            </div>

            <div class="space60"></div>
            <div class="row _relative">
            <div class="col-lg-4">
                <div class="images-area">
                <div class="image image-anime reveal">
                    <img src="{% static 'assets/img/others/pricing-img.png' %}" alt="">
                </div>
                <img src="{% static 'assets/img/shapes/pricing-image-shape1.png' %}" alt="" class="shape1">
                <img src="{% static 'assets/img/shapes/pricing-image-shape2.png' %}" alt="" class="shape2">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="pricing-box-area">
                <div class="single-box">
                    <div class="row">
                    <div class="col-lg-8">
                        <div class="left-side">
                        <div class="icon">
                            <img src="{% static 'assets/img/icons/pricing-icon.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <h3>Weekly Pass</h3>
                            <div class="space16"></div>
                            <p>Whether you're an avid angler, a seasoned hunter, or simply someone who revels in the great outdoors, we have the perfect plan for you</p>
                            <div class="space30"></div>
                            <a class="theme-btn1" href="#!">Purchase Now  <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-list">
                        <h2 class="heading">$229 <span>Weekly Pass</span></h2>
                        <ul>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> ll Fishing Facilities</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Boat Rental</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Fishing Course </li>
                            <li><span class="crose"><i class="fa-solid fa-xmark"></i></span> Gift Card Vouchers </li>
                            <li><span class="crose"><i class="fa-solid fa-xmark"></i></span> 24/7 Member Support</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="single-box">
                    <div class="row">
                    <div class="col-lg-8">
                        <div class="left-side">
                        <div class="icon">
                            <img src="{% static 'assets/img/icons/pricing-icon.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <h3>Monthly Pass</h3>
                            <div class="space16"></div>
                            <p>Whether you're an avid angler, a seasoned hunter, or simply someone who revels in the great outdoors, we have the perfect plan for you</p>
                            <div class="space30"></div>
                            <a class="theme-btn1" href="#!">Purchase Now  <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-list">
                        <h2 class="heading">$539 <span>/Monthly Pass</span></h2>
                        <ul>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> ll Fishing Facilities</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Boat Rental</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Fishing Course </li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Gift Card Vouchers </li>
                            <li><span class="crose"><i class="fa-solid fa-xmark"></i></span> 24/7 Member Support</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="single-box">
                    <div class="row">
                    <div class="col-lg-8">
                        <div class="left-side">
                        <div class="icon">
                            <img src="{% static 'assets/img/icons/pricing-icon.png' %}" alt="">
                        </div>
                        <div class="heading1">
                            <h3>Yearly Pass</h3>
                            <div class="space16"></div>
                            <p>Whether you're an avid angler, a seasoned hunter, or simply someone who revels in the great outdoors, we have the perfect plan for you</p>
                            <div class="space30"></div>
                            <a class="theme-btn1" href="#!">Purchase Now  <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pricing-list">
                        <h2 class="heading">$969 <span>Yewarly Pass</span></h2>
                        <ul>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> ll Fishing Facilities</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Boat Rental</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Free Fishing Course </li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Gift Card Vouchers </li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> 24/7 Member Support</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>

                </div>
            </div>
            </div>
        </div>
        <img src="{% static 'assets/img/shapes/pricing-sec-shape1.png' %}" alt="" class="sec-shape1">
        <img src="{% static 'assets/img/shapes/pricing-sec-shape2.png' %}" alt="" class="sec-shape2">
    </div>


    <div class="faq sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto text-center">
                    <div class="heading1">
                        <span class="span" data-aos="zoom-in-left" data-aos-duration="700">
                            <img src="{% static 'assets/img/icons/span-icon1.png' %}" alt=""> FAQ’s
                        </span>
                        <h2 class="text-anime-style-3">Questions Fréquemment Posées</h2>
                        <div class="space16"></div>
                        <p data-aos="fade-left" data-aos-duration="700">Trouvez les réponses à vos questions les plus courantes.</p>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="space40"></div>
                    <div class="faq-image image-anime reveal"><img src="{% static 'assets/img/others/faq1-image.png' %}" alt=""></div>
                </div>
                <div class="col-lg-8">
                    <div class="space40"></div>
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item" data-aos="fade-up" data-aos-duration="600">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Quelle est la fraîcheur de vos produits ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Nos produits sont pêchés quotidiennement et transformés dans les 24h suivant la capture. 
                                    La chaîne du froid est respectée à chaque étape.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item" data-aos="fade-up" data-aos-duration="800">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Proposez-vous des certifications qualité ?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Oui, nous disposons des certifications HACCP, 
                                    ISO 22000 et nous respectons toutes les normes européennes de sécurité alimentaire.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item" data-aos="fade-up" data-aos-duration="800">
                            <h2 class="accordion-header" id="headingTree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
                                Quels sont vos délais de livraison ?
                                </button>
                            </h2>
                            <div id="collapseTree" class="accordion-collapse collapse" aria-labelledby="headingTree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                Pour les produits frais : 24-48h. Pour les produits congelés : 48-72h. Livraison express disponible sur demande.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="choose4 sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 _relative">
                    <div class="main-image">
                        <img src="{% static 'assets/img/others/choose4-image.png' %}" alt="">
                    </div>
                    <div class="counter-box">
                        <h4>6M<span>+</span></h4>
                        <p>Satisfied Clients</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="heading4">
                        <span class="span" data-aos="zoom-in-left" data-aos-duration="700">
                            <i class="fa-solid fa-ship"></i> Why Choose Us
                        </span>
                        <h2 class="text-anime-style-3">Crafting Memories Wilderness Our Club's Chronicle</h2>
                        <div class="space16"></div>
                        <p data-aos="fade-left" data-aos-duration="900">
                            For generations, we've been at the forefront of outdoor exploration, fostering a legacy of respect for the land and its inhabitants. 
                            Our members, from seasoned veterans to eager newcomers, come together to share stories.
                        </p>
                        <ul class="list" data-aos="fade-left" data-aos-duration="1100">
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> 24/7 Customer Support</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Multi Language Support </li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> 100% Guarantee Satisfaction</li>
                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Professional Staff</li>
                        </ul>
                        <div class="space40"></div>
                        <div class="buttons" data-aos="fade-left" data-aos-duration="900">
                            <a class="theme-btn8" href="#!">Start Your Journey <span class="arrow"><i class="fa-solid fa-angle-right"></i></span></a>
                            <div class="contact-btn">
                                <div class="icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="text">
                                    <p>Hotline 24/7</p>
                                    <a href="tel:+49309233255">+49 30 9233255</a>
                                </div>
                            </div>
                        </div>
                        <img src="{% static 'assets/img/shapes/choose4-shape3.png' %}" alt="" class="shape3 animate4">
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'assets/img/shapes/choose4-shape1.png' %}" alt="" class="shape1 animate3">
        <img src="{% static 'assets/img/shapes/choose4-shape2.png' %}" alt="" class="shape2 animate4">
    </div>

{% endblock %}
    