{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Logistique - Entreprise de Pêche Artisanale{% endblock %}

{% block content %}

    <div class="inner-hero">
        <div class="container">
            <div class="rwo">
                <div class="col-lg-8 m-auto text-cetner">
                    <div class="main-heading">
                        <h1>Logistique & Transport</h1>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'assets/img/shapes/inner-hero-shape1.png' %}" alt="" class="shape1">
        <img src="{% static 'assets/img/shapes/inner-hero-shape2.png' %}" alt="" class="shape2">
        <img src="{% static 'assets/img/shapes/inner-hero-shape3.png' %}" alt="" class="shape3">
    </div>
           

    <div class="service-details sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 sp-right30">
                    <article>
                        <div class="details-info-box">
                            <div class="image">
                                <img src="{% static 'assets/img/service/service-details-image1.png' %}" alt="">
                            </div>
                            <div class="space20"></div>
                            <div class="heading1">
                                <h3>Guided Fishing Expeditions</h3>
                                <div class="space16"></div>
                                <p>Experience the best fishing spots with our expert guides. Whether you prefer fly fishing, deep-sea fishing, or freshwater angling, our knowledgeable staff will ensure you have a successful and enjoyable trip. Learn new techniques, discover secret spots, and reel in impressive catches.</p>
                                <div class="space16"></div>
                                <p>Embark on thrilling hunting expeditions with seasoned professionals. Our guided hunts cover a variety of game, including big game, waterfowl, and upland birds. With expert guidance and access </p>
                            </div>
                        </div>
                    </article>
                    <div class="details-border"></div>

                    <article>
                        <div class="details-info-box">
                            <div class="heading1">
                                <h3>Professional Hunting Expeditions;</h3>
                                <div class="space16"></div>
                                <p>Get equipped with top-quality gear through our rental and sales services. Whether you need fishing rods, hunting rifles, or camping equipment, we provide everything you need for a seamless outdoor experience. Our staff can help you choose the best gear for your adventure.</p>
                                <div class="space16"></div>
                                <p>Enhance your skills with our comprehensive workshops and training sessions. From fishing techniques and hunting strategies to wildlife tracking and survival skills, our expert-led programs are designed for all skill levels. Gain valuable knowledge and confidence for your outdoor pursuits.</p>
                                <div class="space20"></div>
                                <h3>Experienced Professionals Dedicated to Your Protection</h3>
                                <div class="space10"></div>
                                <div class="row icon-text-list">
                                    <div class="col-md-4">
                                        <ul>
                                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Exclusive Grounds Access</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>
                                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Youth & Family Activities</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>
                                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Seasonal Competitions</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>
                                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Custom Adventure Planning</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>
                                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Gear Rental & Sales</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>
                                            <li><span class="check"><i class="fa-solid fa-check"></i></span> Guided Fishing Tours</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="details-border"></div>

                    <article>
                        <div class="details-info-box">
                            <div class="heading1">
                                <h3>Conservation & Education Programs;</h3>
                                <div class="space16"></div>
                                <p>Join our efforts to protect and preserve the natural environment through our conservation programs. Participate in habitat restoration projects, wildlife monitoring, and educational initiatives that promote sustainable practices. Learn about the importance of conservation and how you can make difference.</p>
                            </div>
                            <div class="space16"></div>
                            <div class="planing-box">
                                <div class="">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/icons/service-detailds-icon.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="heading1">
                                    <h4><a href="#">Strategic Planning</a></h4>
                                    <div class="space10"></div>
                                    <p>Tailor your outdoor adventure with our custom planning services. Whether you're organizing a solo expedition, a family outing, or a group adventure, we can help you design a personalized itinerary that meets your needs and preferences</p>
                                </div>
                            </div>
                            <div class="space16"></div>
                            <div class="heading1">
                                <p>Participate in our exciting seasonal events and competitions. From fishing tournaments and hunting challenges to family-friendly activities & community gatherings, there's always something happening at our club. Compete for prizes, showcase your skills, and connect with fellow enthusiasts.</p>
                            </div>
                            <div class="space30"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="image">
                                        <img src="{% static 'assets/img/service/service-details-image2.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="image">
                                        <img src="{% static 'assets/img/service/service-details-image3.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="space30"></div>
                            <div class="heading1">
                                <p>Engage the whole family with our youth programs and family-friendly activities. Our club offers educational workshops, adventure camps, and special events designed to inspire a love for the outdoors in children and teens. Create lasting memories together while exploring nature.</p>
                            </div>
                        </div>
                    </article>
                    <div class="space20"></div>

                    <div class="accordion accordion1" id="accordionExample">
                        <div class="accordion-item active">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What kind of workshops and training sessions are available?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Embark on thrilling hunts for a variety of game with seasoned professionals, access prime hunting grounds, and receive expert guidance for an unforgettable
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What does a professional hunting expedition include?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Embark on thrilling hunts for a variety of game with seasoned professionals, access prime hunting grounds, and receive expert guidance for an unforgettable
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Can I rent or buy gear through the club?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Embark on thrilling hunts for a variety of game with seasoned professionals, access prime hunting grounds, and receive expert guidance for an unforgettable
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How can I get involved in conservation efforts?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Embark on thrilling hunts for a variety of game with seasoned professionals, access prime hunting grounds, and receive expert guidance for an unforgettable
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="details-sidebar">
                        <div class="sidebar-box mb40">
                            <h3>Our Services</h3>
                            <div class="space10"></div>
                            <ul class="service-list">
                                <li><a href="#">Guided Fishing Expeditions <span><i class="fa-solid fa-arrow-right"></i></span></a></li>
                                <li><a href="#">Youth & Family Activities <span><i class="fa-solid fa-arrow-right"></i></span></a></li>
                            </ul>
                        </div>

                        <div class="phone-area mb40">
                            <p>If You Need Any Help <br> Contact With Us</p>
                            <a href="tel:+917052101786" class="phone-btn"><img src="{% static 'assets/img/icons/phone.svg' %}" alt=""> +91 705 2101 786</a>
                        </div>

                        <div class="social-area details-box">
                            <h3>Follow Us</h3>
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
            
    <div class="about-page-service service-page service-details-page pb120">
        <div class="container">
            <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading1">
                <h2>View More Services</h2>
                </div>
            </div>
            </div>

            <div class="space30"></div>

            <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service2-box">
                <div class="icon">
                    <img src="{% static 'assets/img/icons/about-service-icon1.svg' %}" alt="">
                </div>
                <div class="heading2">
                    <h4><a href="#">Catch-and-Release Programs</a></h4>
                    <div class="space16"></div>
                    <p>Explore pristine waters with our seasoned guides, who will help you reel in the catch of a lifetime. From fly fishing in serene rivers</p>
                    <div class="space20"></div>
                    <a class="button" href="#!">Read More <span class="arrow"><i class="fa-solid fa-angle-right"></i></span></a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box">
                <div class="icon">
                    <img src="{% static 'assets/img/icons/about-service-icon2.svg' %}" alt="">
                </div>
                <div class="heading2">
                    <h4><a href="#">Guided Fishing Expeditions</a></h4>
                    <div class="space16"></div>
                    <p>Enjoy the peace & tranquility of our exclusive fishing retreats. Perfect for those looking to escape the hustle and bustle, our retreats</p>
                    <div class="space20"></div>
                    <a class="button" href="#!">Read More <span class="arrow"><i class="fa-solid fa-angle-right"></i></span></a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box">
                <div class="icon">
                    <img src="{% static 'assets/img/icons/about-service-icon3.svg' %}" alt="">
                </div>
                <div class="heading2">
                    <h4><a href="#">Catch-and-Release Programs</a></h4>
                    <div class="space16"></div>
                    <p>Explore pristine waters with our seasoned guides, who will help you reel in the catch of a lifetime. From fly fishing in serene rivers</p>
                    <div class="space20"></div>
                    <a class="button" href="#!">Read More <span class="arrow"><i class="fa-solid fa-angle-right"></i></span></a>
                </div>
                </div>
            </div>

            </div>
        </div>
    </div>

{% endblock %}