{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Produits - Entreprise de Pêche Artisanale{% endblock %}

{% block content %}
    <div class="inner-hero">
        <div class="container">
            <div class="rwo">
                <div class="col-lg-8 m-auto text-cetner">
                    <div class="main-heading">
                        <h1>Nos Produits</h1>
                    </div>
                </div>
            </div>
        </div>
      <img src="{% static 'assets/img/shapes/inner-hero-shape1.png' %}" alt="" class="shape1">
      <img src="{% static 'assets/img/shapes/inner-hero-shape2.png' %}" alt="" class="shape2">
      <img src="{% static 'assets/img/shapes/inner-hero-shape3.png' %}" alt="" class="shape3">
    </div>

    <div class="shop-details-area sp">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 sp-right30">
                    <div class="row shop-page-sec">
                        <div class="col-md-6 mb-4">
                            <div class="card card-hover ">
                                <a href="#!"><img src="{% static 'assets/img/shop/shop-page-img1.png' %}" class=" card-img-top" alt=""></a>
                                <div class="card-body">
                                    <a href="#" class="badge bg-info mb-3">Poisson Frais</a>
                                    <h3><a href="#!" class="text-inherit">Sole Langue</a></h3>
                                    <p>Poisson plat de qualité supérieure, pêché quotidiennement dans les eaux mauritaniennes. Chair fine et délicate.</p>
                                    <div class="row align-items-center g-0 mt-2">
                                        <div class="col lh-1">
                                            <h6 class="mb-1">SOLE LANGUE</h6>
                                            <p class="fs-6 mb-0">À partir de 5 Kg | Cynoglossus</p>
                                        </div>
                                        <div class="col-auto">
                                            <a href="#" class="btn btn-outline-primary btn-sm">Commander <i class="fa-solid fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="card card-hover ">
                                <a href="#!"><img src="{% static 'assets/img/shop/shop-page-img1.png' %}" class=" card-img-top" alt=""></a>
                                <div class="card-body">
                                    <a href="#" class="badge bg-success mb-3">Crustacés</a>
                                    <h3><a href="#!" class="text-inherit">Crevettes Roses</a></h3>
                                    <p>Crevettes fraîches de première qualité, idéales pour vos plats gastronomiques. Chair ferme et goûteuse.</p>
                                    <div class="row align-items-center g-0 mt-2">
                                        <div class="col lh-1">
                                            <h6 class="mb-1">CREVETTES</h6>
                                            <p class="fs-6 mb-0">À partir de 2 Kg | Penaeus</p>
                                        </div>
                                        <div class="col-auto">
                                            <a href="#" class="btn btn-outline-primary btn-sm">Commander <i class="fa-solid fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="shop-left-area details-sidebar">
                        <div class="sidebar-box mb40">
                            <h3>Rechercher</h3>
                            <div class="form-area">
                                <form action="#">
                                    <input type="text" placeholder="Rechercher..">
                                    <button type="submit" class="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="filter-area">
                            <h3>Filtrer par catégorie</h3>
                            <div class="space24"></div>
                            <div class="filter level-filter level-req">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheck-1">
                                    <label class="form-check-label" for="flexCheck-1">
                                        Poissons Frais
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheck-2">
                                    <label class="form-check-label" for="flexCheck-2">
                                        Poissons Congelés
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheck-3" >
                                    <label class="form-check-label" for="flexCheck-3">
                                        Crustacés
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheck-4">
                                    <label class="form-check-label" for="flexCheck-4">
                                        Céphalopodes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheck-5">
                                    <label class="form-check-label" for="flexCheck-5">
                                        Filets & Découpes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="space40"></div>
                        <div class="sidebar-box">
                            <h3>Tags populaires</h3>
                            <div class="space10"></div>
                            <ul class="tag-list">
                                <li><a href="#">Pêche Durable</a></li>
                                <li><a href="#">Fraîcheur Garantie</a></li>
                                <li><a href="#">Produits Bio</a></li>
                                <li><a href="#">Livraison Rapide</a></li>
                                <li><a href="#">Qualité Premium</a></li>
                                <li><a href="#">Traçabilité</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 
 


          