{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Liste des Fournisseurs{% endblock %}
{% block content %}

  <div class="pb-5">
    <div class="row g-4">
      <div class="col-12 col-xxl-12">
        <div class="row align-items-center mb-4">
          <div class="col-auto">
            <h2 class="mb-2">FOURNISSEURS</h2>
            <h5 class="text-body-tertiary fw-semibold">Statut et informations générales sur les fournisseurs</h5>
          </div>
          <div class="col-auto ms-auto">
            <a href="{% url 'portal_admin:supplier_add' %}" class="btn btn-primary">
              <i class="fas fa-plus-circle me-1"></i> Nouveau fournisseur
            </a>
          </div>
        </div>
        <div class="row align-items-center g-4">
          <div class="col-12 col-md-auto">
            <div class="d-flex align-items-center">
              <span class="fa-stack" style="min-height: 46px;min-width: 46px;">
                <span class="fa-solid fa-square fa-stack-2x dark__text-opacity-50 text-danger-light" data-fa-transform="down-4 rotate--10 left-4"></span>
                <span class="fa-solid fa-circle fa-stack-2x stack-circle text-stats-circle-danger" data-fa-transform="up-4 right-3 grow-2"></span>
                <span class="fa-stack-1x fa-solid fa-hospital text-danger " data-fa-transform="shrink-2 up-8 right-6"></span>
              </span>
              <div class="ms-3">
                <h4 class="mb-0">Fournisseur</h4>
                <p class="text-body-secondary fs-9 mb-0">Total fournisseur</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-auto">
            <div class="d-flex align-items-center">
              <span class="fa-stack" style="min-height: 46px;min-width: 46px;">
                <span class="fa-solid fa-square fa-stack-2x dark__text-opacity-50 text-success-light" data-fa-transform="down-4 rotate--10 left-4"></span>
                <span class="fa-solid fa-circle fa-stack-2x stack-circle text-stats-circle-success" data-fa-transform="up-4 right-3 grow-2"></span>
                <span class="fa-stack-1x fa-solid fa-check text-success " data-fa-transform="shrink-2 up-8 right-6"></span>
              </span>
              <div class="ms-3">
                <h4 class="mb-0">Actifs</h4>
                <p class="text-body-secondary fs-9 mb-0">Fournisseur Actifs</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-auto">
            <div class="d-flex align-items-center">
              <span class="fa-stack" style="min-height: 46px;min-width: 46px;">
                <span class="fa-solid fa-square fa-stack-2x dark__text-opacity-50 text-danger-light" data-fa-transform="down-4 rotate--10 left-4"></span>
                <span class="fa-solid fa-circle fa-stack-2x stack-circle text-stats-circle-danger" data-fa-transform="up-4 right-3 grow-2"></span>
                <span class="fa-stack-1x fa-solid fa-pause text-danger " data-fa-transform="shrink-2 up-8 right-6"></span>
              </span>
              <div class="ms-3">
                <h4 class="mb-0">Inactifs</h4>
                <p class="text-body-secondary fs-9 mb-0">Fournisseur Inactifs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
    
  <div id="fournisseursTable" data-list='{"valueNames":["Compte", "Fournisseur", "Categorie", "Creation", "Contact", "Statut", "Actions"],"page":10,"pagination":true}'>
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
      <div class="table-responsive scrollbar mx-n1 px-1">
        <table class="table table-sm fs-9 mb-0">
          <thead>
            <tr>
              <th class="white-space-nowrap fs-9 align-middle">
                <div class="form-check mb-0 fs-8">
                  <input class="form-check-input" id="checkbox-bulk-order-select" type="checkbox" data-bulk-select='' />
                </div>
              </th>
              <th class="sort white-space-nowrap align-middle" scope="col" data-sort="Compte" >COMPTE</th>
              <th class="sort align-middle" scope="col" data-sort="Fournisseur" >FOURNISSEUR</th>
              <th class="sort align-middle" scope="col" data-sort="Categorie">CATÉGORIE</th>
              <th class="sort align-middle" scope="col" data-sort="Creation" >CRÉATION</th>
              <th class="sort align-middle" scope="col" data-sort="Contact" >CONTACT</th>
              <th class="sort align-middle" scope="col" data-sort="Statut">STATUT</th>
              <th class="sort align-middle" scope="col" data-sort="	Actions">ACTIONS</th>
            </tr>
          </thead>
          <tbody class="list" id="order-table-body">
            {% for supplier in suppliers %}
              <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="fs-9 align-middle  py-2"><div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='' /></div></td>
                <td class="Compte align-middle white-space-nowrap fw-bold"><a href="{% url 'portal_admin:supplier_detail' supplier.pk %}">#{{ supplier.accounting_code }}</a></td>
                <td class="Fournisseur align-middle fw-semibold text-body-highlight">
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-xl me-2">
                      {% if supplier.logo %}
                        <div class="avatar avatar-xl me-2">
                          <img class="rounded-soft" src="{{ supplier.logo.url }}" alt="{{ supplier.name }}" />
                        </div>
                      {% else %}
                        <div class="avatar-name rounded-soft">
                          <span>{{ supplier.name|first }}</span>
                        </div>
                      {% endif %}
                    </div>
                    <div class="flex-1">
                      <h6 class="mb-0">{{ supplier.name }}</h6>
                      <small class="text-muted">{{ supplier.get_category_display }}</small>
                    </div>
                  </div>
                </td>
                <td class="Categorie align-middle white-space-nowrap">
                  <span class="badge badge-phoenix fs-10 badge-phoenix-danger">
                    {{ supplier.get_category_display }}
                  </span>
                </td>
                <td class="Creation align-middle white-space-nowrap">
                  <span class="badge badge-phoenix fs-10 badge-phoenix-primary">
                    {{ supplier.created_at|date:"d/m/Y" }}
                  </span>
                </td>
                <td class="Contact align-middle white-space-nowrap fw-bold text-body-tertiary">
                  <div class="flex-1">
                    {% if supplier.contact_phone %}
                      <i class="fa fa-square-phone me-1"></i>{{ supplier.contact_phone }}
                    {% endif %}
                  </div>
                  {% if supplier.email %}
                    <i class="fa fa-envelope-square me-1"></i>{{ supplier.email }}
                  {% endif %}
                </td>
                <td class="Statut align-middle white-space-nowrap fw-bold text-body-tertiary">
                  {% if supplier.status == 'active' %}
                    <span class="badge badge-phoenix fs-10 badge-phoenix-success">
                      <span class="badge-label">{{ supplier.get_status_display }}</span>
                      <span class="ms-1" data-feather="check" style="height:12.8px;width:12.8px;"></span>
                    </span>
                  {% else %}
                    <span class="badge badge-phoenix fs-10 badge-phoenix-danger">
                      <span class="badge-label">{{ supplier.get_status_display }}</span>
                      <span class="ms-1" data-feather="x" style="height:12.8px;width:12.8px;"></span>
                    </span>
                  {% endif %}
                </td>
                <td class="Actions align-middle white-space-nowrap fs-9 ">
                  <a href="{% url 'portal_admin:supplier_detail' supplier.pk %}"><span class="text-body fs-5" data-feather="eye"></span></a>
                  <a href="{% url 'portal_admin:supplier_edit' supplier.pk %}"><span class="text-body fs-5" data-feather="edit"></span></a>
                  <a href="{% url 'portal_admin:supplier_delete' supplier.pk %}"><span class="text-body fs-5" data-feather="trash-2"></span></span></a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="9" class="text-center">Aucun fournisseur trouvé</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
